.member-wrapper{width: 40%;padding: 20px;margin-left: 650px;}
.heading{font-size: 2em;font-weight: bold;text-align: center;margin-bottom: 20px;}
.email-text{font-size: 17px;line-height: 38px;}
.zip-num{width: 50%; display: inline;}
.zip-find{margin-bottom: 5px;}