.inquiry-wrapper{width: 85%;padding: 20px;margin-left: 220px;}
.heading{font-size: 2em;font-weight: bold;text-align: center;margin-bottom: 20px;}
.form-container{width: 95%;}
.list-group-item{border:none !important;padding: .3rem 0.25rem !important;}
.table-hover th, .table-hover td{text-align: center;}
.btn-group{display: flex;gap: 10px;justify-content: center;}
.button{border: none;outline: none;border-radius: 10px;width: 50px !important;padding: 5px;cursor: pointer;}
.inquiry-box{height: 530px;}
.th-item{width:10%;}
.truncate{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 150px;}
.flash-message {position: fixed;bottom: 20px;right: 20px; background-color: #4caf50;color: white;padding: 15px;border-radius: 5px;box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);font-size: 16px;z-index: 1000;transition: opacity 0.5s ease-in-out;}
.flash-message.error {background-color: #f44336;}

