.community-select-container {width: 1350px; margin: 20px auto;border-radius: 8px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);overflow: hidden;}
.community-header {background-color: #096c8a;color: white;padding: 20px;text-align: center;}
.community-title {font-size: 28px;letter-spacing: 1px;}
.community-list {display: grid;grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));gap: 20px;padding: 20px;}
.community-name {font-size: 18px;font-weight: bold;color: #096c8a;margin-bottom: 10px;}
.community-meta {font-size: 14px;color: #555;margin-bottom: 10px;}
.community-link {padding:17px;border-radius:12px;border: 1px solid #ddd;display: flex;justify-content: center;align-items: center;width: 100%;height: 100%; font-size: 24px;font-weight: bold;text-decoration: none;color: #096c8a;transition: font-size 0.2s ease;}
.community-link:hover {color: white;background-color: #096c8a;}