.login-wrapper{width: 500px;margin: 130px auto;padding: 50px;border: 1px solid #fff;border-radius: 8px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);}
.title-box{margin-bottom: 20px;}
.logo-text{font-size: 40px;}
.error-text{color: red;}
.button-box{padding-top: 20px;}