.profile-wrapper {width: 900px;margin: 20px auto;}
.title-section {display: flex;align-items: center;padding: 20px;border: 1px solid #eee;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);border-radius: 8px;margin-bottom: 35px;}
.profile-img {width: 90px;height: 85px;border-radius: 25%;background-color: #eee;overflow: hidden;display: flex;align-items: center;justify-content: center;}
.profile-info {margin-left: 20px;}
.profile-section {align-items: center;padding: 20px;border: 1px solid #eee;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);border-radius: 8px;margin-bottom: 35px;}
.profile-section .profile-item {display: flex;justify-content: space-between;align-items: center;padding: 10px 5px;}
.profile-section .profile-label {font-weight: 500;color: #495057;}
.profile-section .profile-value {font-weight: 400;color: #212529;text-align: right;}
.profile-btn {background-color: transparent;border: none;text-align: left;cursor: pointer;width: 100%;}
.profile-item:hover{background-color: #f9fafb;border-radius: 10px;}
.modal-btn {background: none;border: none;color: #17a2b8;cursor: pointer;padding: 0;}
.modal-btn:hover {color: #117a8b;text-decoration: none;}
.zip-num{width: 50%; display: inline;}
.zip-find{margin-bottom: 5px;}