<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈 게임 : 문의</title>
<link rel="stylesheet" type="text/css" href="/css/inquiryDetail.css">
</head>
<body>
	<main layout:fragment="content">
		<div th:replace="~{layout/infoheader.html}"></div>
		<div class="inquiry-wrapper">
	    	<h1 class="heading">문의 상세</h1>
	    	<div class="inquiry-container">
				<div class="form-group">
					<label>문의 제목</label>
					<input type="text" class="form-control" name="iq_title" id="title" th:value="${inquiry.iq_title}" readonly>
				</div>
				<div class="form-group">
					<label>문의 내용</label>
					<textarea class="form-control text-box" name="iq_content" id="iq_content" th:text="${inquiry.iq_content}" disabled></textarea>
				</div>
				<div class="form-group">
					<label>답변 내용</label>
					<textarea class="form-control text-box" name="iq_comment" id="iq_comment" th:text="${inquiry.iq_comment}" disabled></textarea>
				</div>
			</div>
	    </div>
   </main>
</body>
</html>