<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}" layout:fragment="content">
<head>
<link href="/css/header.css" rel='stylesheet'>
<link href="/css/home.css" rel='stylesheet'>
<meta charset="UTF-8">
<title>메인</title>
</head>
<body>
	<main>
		<div id="container">
			<div id="m_intro"></div>
			<div id="m_community"></div>
			<div id="m_quiz">
				<a href="/userquiz/userquizpage">사용자 지정 퀴즈</a>
			</div>
			<div id="m_event">
				<a href="/event/eventpage">이벤트 페이지</a>
			</div>
		</div>
	</main>
	<aside id="sidebar"></aside>
</body>
</html>