<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>메인</title>
<link rel='stylesheet' href="/css/home.css">
</head>
<body>
	<main>
		<div id="container">
			<div id="m_intro"></div>
			<div id="m_community">
				<a href="/community/list" class="custom-button">커뮤니티</a>
			</div>
			<div id="m_quiz">
				<a href="/userquiz/userquizpage" class="custom-button">퀴즈</a>
			</div>
			<div id="m_event">
				<a href="/event/eventpage" class="custom-button">이벤트</a>
			</div>
		</div>
	</main>
	<aside id="sidebar"></aside>
</body>
</html>