<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈Q : 프로필</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
</head>
<body>
	<main layout:fragment="content">
		<div th:replace="~{layout/infoheader.html}"></div>
		<div class="profile-wrapper">
	        <div class="title-section">
	            <div class="profile-img">
	                <img th:src="@{/img/profile_normal.png}" alt="프로필 이미지">
	            </div>
	            <div class="profile-info">
	            	<div style="font-size: 15px">회원 등급 · <span th:text="${user.mb_level}"></span>Lv</div>
	                <div style="font-size: 23px"><span th:text="${user.mb_nick}"></span>님 안녕하세요.</div>
	            </div>
	        </div>
	        <div class="profile-section">
	        	<div class="profile-item">
	        		<div class="profile-label">
	        			<span style="word-spacing: 8px;">이 름</span>
	        			<button class="modal-btn" data-toggle="modal" data-target="#myModal-name">수정</button>
	        		</div>
	        		<div class="profile-value" th:text="${user.mb_name}"></div>
	        	</div>
	        	<!-- The Modal -->
				<div class="modal" id="myModal-name">
					<div class="modal-dialog">
						<div class="modal-content">
				     		 <!-- Modal Header -->
							<div class="modal-header">
								<h5 class="modal-title">실명 수정</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
			  				<form action="/info/profile" method="post">
								<div class="modal-body">
				  					<div class="form-group">
				  						<label for="name"><b>이름</b></label>
				  						<input type="text" class="form-control" id="name" name="mb_name" placeholder="이름">
				  						<input type="hidden" name="type" value="name">
				  					</div>
								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
									<button type="submit" class="btn btn-success">변경</button>
								</div>
			  				</form>
						</div>
					</div>
				</div>
	        	<div class="profile-item">
			        <div class="profile-label">
			        	<span>닉네임</span>
	        			<button class="modal-btn" data-toggle="modal" data-target="#myModal-nick">수정</button>
			        </div>
			        <div class="profile-value" th:text="${user.mb_nick}"></div>
			    </div>
			    <!-- The Modal -->
				<div class="modal" id="myModal-nick">
					<div class="modal-dialog">
						<div class="modal-content">
				     		 <!-- Modal Header -->
							<div class="modal-header">
								<h5 class="modal-title">닉네임 수정</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
			  				<form action="/info/profile" method="post">
								<div class="modal-body">
				  					<div class="form-group">
				  						<label for="nick"><b>닉네임</b></label>
				  						<input type="text" class="form-control" id="nick" name="mb_nick" placeholder="닉네임">
				  						<input type="hidden" name="type" value="nick">
				  					</div>
								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
									<button type="submit" class="btn btn-success">변경</button>
								</div>
			  				</form>
						</div>
					</div>
				</div>
			    <div class="profile-item">
			        <div class="profile-label">
			        	<span>연락처</span>
		        		<button class="modal-btn" data-toggle="modal" data-target="#myModal-hp">수정</button>
			        </div>
			        <div class="profile-value" th:text="${user.mb_hp}"></div>
			    </div>
			    <!-- The Modal -->
				<div class="modal" id="myModal-hp">
					<div class="modal-dialog">
						<div class="modal-content">
				     		 <!-- Modal Header -->
							<div class="modal-header">
								<h5 class="modal-title">연락처 수정</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
			  				<!-- Modal body -->
			  				<form action="/info/profile" method="post">
								<div class="modal-body">
				  					<div class="form-group">
				  						<label for="hp"><b>연락처</b></label>
				  						<input type="text" class="form-control" id="hp" name="mb_hp" placeholder="휴대폰 번호 ('-'제외 11자리)">
										<input type="hidden" name="type" value="contact">
				  					</div>
								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
									<button type="submit" class="btn btn-success">변경</button>
								</div>
			  				</form>
						</div>
					</div>
				</div>
			    <div class="profile-item">
			        <div class="profile-label">포인트</div>
			        <div class="profile-value" th:text="${user.mb_point} + P"></div>
			    </div>
			    <div class="profile-item">
	        		<div class="profile-label">가입일</div>
	        		<div class="profile-value" th:text="${#dates.format(user.mb_datetime, 'yyyy년 MM월 dd일')}"></div>
	        	</div>
	        </div>
	        <div class="profile-section">
	        	<button class="profile-btn" data-toggle="modal" data-target="#myModal-addr">
	        		<div class="profile-item">
				        <div class="profile-label">주소 관리</div>
				        <div class="profile-value">></div>
				    </div>
	        	</button>
	        </div>
	        <!-- The Modal -->
			<div class="modal" id="myModal-addr">
				<div class="modal-dialog">
					<div class="modal-content">
			     		 <!-- Modal Header -->
						<div class="modal-header">
							<h5 class="modal-title">주소 관리</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
		  				<!-- Modal body -->
		  				<form action="/info/profile" method="post">
							<div class="modal-body">
			  					<div class="form-group">
			  						<label for="address"><b>현재 주소</b></label>
			  						<input type="text" class="form-control" id="address" th:value="${user.mb_addr + ' ' + user.mb_addr2 + ' (' + user.mb_zip + ')'}" required readonly>
			  					</div>
			  					<div class="form-group">
			  						<label for="zip-btn"><b>새 주소</b></label>
			  						<br>
			  						<input type="text" class="form-control mb-2 zip-num" id="zip" name="mb_zip" maxlength="10" placeholder="우편번호" readonly>
				    				<input type="button" class="btn btn-outline-info zip-find" id="zip_btn" onclick="execDaumPostcode()" value="우편번호 찾기">
				    				<br>
				    				<input type="text" class="form-control mb-2" id="addr" name="mb_addr" maxlength="40" placeholder="기본 주소를 입력" readonly>
				    				<input type="text" class="form-control" id="addr2" name="mb_addr2"  maxlength="40" placeholder="상세 주소를 입력">
				    				<input type="hidden" name="type" value="address">
			  					</div>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
								<button type="submit" class="btn btn-success">변경</button>
							</div>
		  				</form>
					</div>
				</div>
			</div>
	        <div class="profile-section">
	        	<button class="profile-btn" data-toggle="modal" data-target="#myModal-pw">
	        		<div class="profile-item">
				        <div class="profile-label">비밀번호 변경</div>
				        <div class="profile-value">></div>
				    </div>
	        	</button>
	        	<!-- The Modal -->
				<div class="modal" id="myModal-pw">
					<div class="modal-dialog">
						<div class="modal-content">
				     		 <!-- Modal Header -->
							<div class="modal-header">
								<h5 class="modal-title">비밀번호 변경</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
			  				<!-- Modal body -->
			  				<form action="/info/profile" method="post" id="form-pw">
								<div class="modal-body">
				  					<div class="form-group">
										<label for="mb_pw"><b>기존 비밀번호</b></label>
										<input type="password" class="form-control" id="mb_pw" name="mb_pw">
									</div>
									<div class="form-group">
										<label for="mb_pw2"><b>새 비밀번호</b></label>
										<input type="password" class="form-control" id="mb_pw2" name="mb_pw2">
									</div>
									<div class="form-group">
										<label for="mb_pw3"><b>새 비밀번호 확인</b></label>
										<input type="password" class="form-control" id="mb_pw3">
									</div>
									<input type="hidden" name="type" value="password">
								</div>
								<div id="error-pw"></div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
									<button type="button" class="btn btn-success" onclick="checkPw()">변경</button>
								</div>
			  				</form>
						</div>
					</div>
				</div>
	        	<button class="profile-btn" data-toggle="modal" data-target="#myModal-del">
	        		<div class="profile-item">
				        <div class="profile-label">계정 탈퇴</div>
				        <div class="profile-value">></div>
				    </div>
	        	</button>
	        	<!-- The Modal -->
				<div class="modal" id="myModal-del">
					<div class="modal-dialog">
						<div class="modal-content">
				     		 <!-- Modal Header -->
							<div class="modal-header">
								<h5 class="modal-title">계정 탈퇴</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
			  				<!-- Modal body -->
			  				<form action="/info/profile" method="post" id="form-del">
								<div class="modal-body">
				  					<div class="form-group">
										<label for="id"><b>아아디</b></label>
										<input type="text" class="form-control" id="id" name="id">
									</div>
									<div class="form-group">
										<label for="pw"><b>비밀번호</b></label>
										<input type="password" class="form-control" id="pw" name="pw">
									</div>
									<input type="hidden" name="type" value="delete">
								</div>
								<div id="error-pw"></div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
									<button type="button" class="btn btn-success" onclick="checkDel()">삭제</button>
								</div>
			  				</form>
						</div>
					</div>
				</div>
	        </div>
	    </div>
	    <script type="text/javascript">
		    $('.modal').on('hidden.bs.modal', function () {
		    	$(this).find('input').not('#address, #zip_btn').val('');
		        $(this).find('#error-pw').text('');
		    });
		    
		    function checkDel(){
		    	if (confirm('정말 계정을 삭제하시겠습니까?')) {
		    		$('#form-del').submit();
		        }
		    }
		    
	    	function checkPw(){
		    	const mb_pw2 = $('#mb_pw2').val();
	        	const mb_pw3 = $('#mb_pw3').val();
	        	const error = $('#error-pw');
	        	const pattern = /^[a-zA-Z0-9!@#$]{6,20}$/;
	        	if(!pattern.test(mb_pw2)) {
	        		error.text('비밀번호 형식이 일치하지 않습니다.');
	        		return;
	        	}
	        	if(mb_pw2 != mb_pw3) {
	        		error.text('비밀번호가 일치하지 않습니다.');
	        		return;
	        	}
	        	$('#form-pw').submit();
	    	}
	    </script>
	    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	    <script>
		    function execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업을 통한 검색 결과 항목 클릭 시 실행
		                var addr = ''; // 주소_결과값이 없을 경우 공백 
		                var extraAddr = ''; // 참고항목
		
		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 도로명 주소를 선택
		                    addr = data.roadAddress;
		                } else { // 지번 주소를 선택
		                    addr = data.jibunAddress;
		                }
		
		                if(data.userSelectedType === 'R'){
		                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                        extraAddr += data.bname;
		                    }
		                    if(data.buildingName !== '' && data.apartment === 'Y'){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    if(extraAddr !== ''){
		                        extraAddr = ' (' + extraAddr + ')';
		                    }
		                } else {
		                    document.getElementById("addr").value = '';
		                }
		
		                // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
		                document.getElementById('zip').value = data.zonecode;
		                document.getElementById("addr").value = addr;
		                document.getElementById("addr").value += extraAddr;
		                document.getElementById("addr2").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
		            }
		        }).open();
		    }
		</script>
	</main>
</body>
</html>