<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="this :: title">Default Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:fragment="header">
		<!--헤더 탑을 이용하여 헤더의 위치를 잡고 안에 내용 작성-->
		<div id="hd_top">
			<!--로그인 후 보이기로 변경해야함 css 수정 필요-->
			<button type="button" id="chat">채팅</button>
			<!--아이콘으로 변경해야함-->
			<div id="logo"><a href="">Quiz(a태그 사용) 아이콘 사용</a></div>
			<!--헤더 메인 navbar 마이페이지는 로그인 후 나타나게 변경-->
			<div id="nav">
				<ul class="nav_ul">
					<li class="nav_li"><a href="/admin/adminhome">관리자페이지</a></li>
					<li class="nav_li"><a href="">마이페이지버튼</a></li>
					<li class="nav_li"><a href="">로그인</a></li>
					<li class="nav_li"><a href="/member/signup">회원가입</a></li>
				</ul>
			</div>
		</div>
	</header>
</body>
</html>