<header th:fragment="header">
<link href="/css/header.css" rel='stylesheet'>
	<div id="hd_top">
		<!--아이콘으로 변경해야함-->
		<div id="logo">
			<a href="/">Q</a>
		</div>
		<!--헤더 메인 navbar 마이페이지는 로그인 후 나타나게 변경-->
		<div id="nav">
			<ul class="nav_ul">
				<li class="nav_li">
					<a href="/admin/adminhome">관리자페이지</a>
				</li>
				<li class="nav_li">
					<a href="/community/commuHome">커뮤니티</a>
				</li>
				<th:block sec:authorize="isAuthenticated()">
					<li class="nav_li">
						<a href="/info/profile">마이페이지</a>
					</li>
					<li class="nav_li">
						<a href="/member/logout">로그아웃</a>
					</li>
				</th:block>
				<th:block sec:authorize="isAnonymous()">
					<li class="nav_li" >
						<a href="/member/login">로그인</a>
					</li>
					<li class="nav_li">
						<a href="/member/signup">회원가입</a>
					</li>
				</th:block>
			</ul>
		</div>
	</div>
</header>
