<html xmlns:th="http://www.thymeleaf.org">
<div>
	<nav>
		<ul class="nav justify-content-center bg-info p-3">
	    	<li class="nav-item">
	      		<a class="nav-link text-white" href="/info/profile">Profile</a>
	   		 </li>
	    	<li class="nav-item">
	      		<a class="nav-link text-white" href="/info/point/entire">Point</a>
	    	</li>
	    	<li class="nav-item">
	      		<a class="nav-link text-white" href="#">MyQuiz</a>
	    	</li>
	    	<li class="nav-item">
	      		<a class="nav-link text-white" href="#">1:1 문의하기</a>
	    	</li>
	 	 </ul>
	</nav>
</div>