<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}" >
<head>
<meta charset="UTF-8">
<title>퀴즈Q : 커뮤니티</title>
<link rel="stylesheet" href="/css/postList.css">
</head>
<body>
	<main layout:fragment="content" >
	    <div class="post-container">
	        <div class="post-header">
	            <h1 class="post-title" th:text="${co_name} + ' 커뮤니티'"></h1>
            	<div class="d-flex justify-content-center">
		            <form class="form-container mt-3" th:action="@{/community/post/list/{co_num}(co_num=${co_num})}" method="get">
						<div class="input-group mb-3">
							<input type="text" class="form-control search-width" placeholder="통합 검색" name="search" th:value="${pm.cri.search}">
							<div class="input-group-append">
								<button type="submit" class="btn btn-dark col-12">검색</button>
							</div>
						</div>
					</form>
				</div>
	        </div>
	        <div>
				<nav class="post-nav">
					<a href="#">인기글</a>
					<a href="#">최신글</a>
					<a th:href="@{/community/post/insert/{co_num}(co_num=${co_num})}">게시글 등록</a>
					<a href="/community/list">커뮤니티 목록</a>
	            </nav>
	            <table class="post-table">
                	<thead>
                    	<tr>
                        	<th>번호</th>
	                        <th>작성자</th>
	                        <th>제목</th>
	                        <th>날짜</th>
	                        <th>조회수</th>
	                    </tr>
	                </thead>
	                <tbody>
						<tr th:each="list : ${list}">
							<td th:text="${list.po_num}"></td>
							<td th:text="${list.mb_id}"></td>
							<td class="truncate" th:text="${list.po_title}"></td>
							<th:block th:with="today=${#dates.format(#dates.createNow(), 'yyyyMMdd')}, po_date=${#dates.format(list.po_date, 'yyyyMMdd')}">
							    <td th:text="${#dates.format(list.po_date, po_date == today ? 'HH:mm' : 'MM-dd')}"></td>
							</th:block>
							<td th:text="${list.po_view}"></td>
						</tr>
	                </tbody>
	            </table>
	            <div class="no-post-message" th:if="${list == null or #lists.isEmpty(list)}">
				    <p>등록된 게시글이 없습니다.</p>
				</div>
	        </div>
	    </div>
	    <ul class="pagination justify-content-center" th:object="${pm}" th:if="${pm.endPage != 0}">
   			<li class="page-item" th:if="*{prev}">
   				<a class="page-link" th:href="@{/community/post/list/{co_num}(page=*{startPage - 1}, co_num=*{cri.co_num}, search=*{cri.search})}">이전</a>
   			</li>
		    <li class="page-item" th:each="i : *{#numbers.sequence(startPage, endPage)}" th:classappend="*{cri.page} == ${i} ? 'active' : ''">
		   	 	<a class="page-link" th:href="@{/community/post/list/{co_num}(page=${i}, co_num=*{cri.co_num}, search=*{cri.search})}" th:text="${i}"></a>
		    </li>
		    <li class="page-item" th:if="*{next}">
		   		<a class="page-link" th:href="@{/community/post/list/{co_num}(page=*{endPage + 1}, co_num=*{cri.co_num}, search=*{cri.search})}">다음</a>
		    </li>
  		</ul>
	</main>
</body>
</html>
