<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈 게임 : 관리자 페이지</title>
</head>
<body>
	<div>
        <!-- Sidebar -->
        <aside>
            <h1>관리자 페이지</h1>
            <nav>
                <ul>
                    <li><a href="#quiz-management">퀴즈 관리</a></li>
                    <li><a href="#hint-management">힌트 관리</a></li>
                    <li><a href="#quiz-category-management">퀴즈 카테고리 관리</a></li>
                    <li><a href="#user-inquiries">사용자 문의 리스트</a></li>
                    <li><a href="#member-management">회원 관리</a></li>
                    <li><a href="#point-management">포인트 관리</a></li>
                    <li><a href="#homepage-settings">홈페이지 기본 사항 관리</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</body>
</html>