<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <main layout:fragment="content">
    <h1>퀴즈 목록</h1>

    <h2>선택형 퀴즈</h2>
    <div class="grid">
        <!-- 선택형 퀴즈 목록 반복문 -->
        <div class="card" th:each="quiz : ${ChoiceQuizList}">
            <h3 class="card-title" th:text="${quiz.qs_content}">퀴즈 제목</h3>
        </div>
    </div>
    <a th:href="@{/admin/createchoicequiz(qt_num=${qt_num})}" class="btn btn-primary">선택형 퀴즈 생성</a>

    <h2>주관식 퀴즈</h2>
    <div class="grid">
        <!-- 주관식 퀴즈 목록 반복문 -->
        <div class="card" th:each="quiz : ${SubjectiveQuizList}">
            <h3 class="card-title" th:text="${quiz.qu_content}">퀴즈 제목</h3>
        </div>
    </div>
    <a th:href="@{/admin/createsubjectivequiz(qt_num=${qt_num})}" class="btn btn-primary">주관식 퀴즈 생성</a>  
   </main>
</body>
</html>