<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.boot.dao.AdminDAO">

	<select id="selectQuizCategories" resultType="QuizTypeVO">
	    SELECT qt_num AS qt_num, qt_name AS qt_name FROM quiz_type ORDER BY qt_num DESC
	</select>
	
	<insert id="insertCategory" parameterType="QuizTypeVO">
	    INSERT INTO quiz_Type (qt_name)
	    VALUES (#{qt_name})
	</insert>
	
	<delete id="deleteQuizCategory">
    	DELETE FROM quiz_type WHERE qt_num = #{qt_num}
	</delete>
	
	<update id="updateQuizCategory" parameterType="QuizTypeVO">
	    UPDATE quiz_type
	    SET qt_name = #{qt_name}
	    WHERE qt_num = #{qt_num}
	</update>

	<select id="selectQuizCategoryById" resultType="QuizTypeVO">
	    SELECT qt_num AS qtNum, qt_name AS qtName
	    FROM quiz_type
	    WHERE qt_num = #{qt_num}
	</select>
	
	<select id="getChoiceQuizListByCategory" resultType="QuizChoiceVO">
        SELECT * 

        FROM  quiz_choice

        WHERE qt_num = #{qtNum}
   	</select>
    
    <select id="getSubjectiveQuizListByCategory" resultType="QuizSubjectiveVO">
        SELECT * 
        FROM quiz_subjective
        WHERE qt_num = #{qtNum}
    </select>
    
    <select id="selectQuizType" resultType="QuizTypeVO">
    	SELECT *
    	FROM
    		QUIZ_TYPE
    	ORDER BY QT_NUM DESC
    </select>
    
    <insert id="insertQuizType">
    	INSERT INTO QUIZ_TYPE(QT_NAME) VALUES 
    	(#{qt_name})
    </insert>
    
    <delete id="deleteQuizType">
    	DELETE FROM QUIZ_TYPE WHERE QT_NUM = #{qt_num}
    </delete>
    
    <update id="updateQuizType">
    	UPDATE QUIZ_TYPE SET QT_NAME = #{qt_name} WHERE QT_NUM = #{qt_num}
    </update>
</mapper>