<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.boot.dao.CommunityDAO">
	<select id="selectCommnunityList" resultType="CommunityVO">
		SELECT * FROM COMMUNITY
	</select>
	<select id="selectPostList" resultType="PostVO">
		SELECT * FROM POST WHERE CO_NUM = #{co_num}
	</select>
</mapper>
