<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.boot.dao.InfoDAO">
	<update id="updateInfo">
		UPDATE MEMBER SET 
		<choose>
			<when test="params.type == 'name'">
				MB_NAME = #{params.mb_name},
				MB_EDIT_DATE = NOW()
			</when>
			<when test="params.type == 'nick'">
				MB_NICK = #{params.mb_nick},
				MB_EDIT_DATE = NOW()
			</when>
			<when test="params.type == 'contact'">
				MB_HP = #{params.mb_hp},
				MB_EDIT_DATE = NOW()
			</when>
			<when test="params.type == 'address'">
				MB_ZIP = #{params.mb_zip},
				MB_ADDR = #{params.mb_addr},
				MB_ADDR2 = #{params.mb_addr2},
				MB_EDIT_DATE = NOW()
			</when>
		</choose>
		WHERE MB_ID = #{mb_id}
	</update>
	<update id="updatePw">
		UPDATE MEMBER SET MB_PW = #{params.mb_pw2}, MB_EDIT_DATE = NOW() WHERE MB_ID = #{mb_id}
	</update>
	<update id="cancelMember">
		UPDATE MEMBER 
		SET
			MB_NAME = NULL,
			MB_NICK = NULL,
			MB_HP = NULL,
			MB_EMAIL = NULL,
			MB_BIRTH = NULL,
			MB_ZIP = NULL,
			MB_ADDR = NULL,
			MB_ADDR2 = NULL,
			MB_OUT_DATE = NOW()
		WHERE 
			MB_ID = #{mb_id}
	</update>
	<select id="getCountByPoint" resultType="int">
		SELECT COUNT(*)
		FROM
			POINT
		WHERE
			MB_ID = #{mb_id}
	</select>
	<select id="selectPointList" resultType="PointVO">
		SELECT *
		FROM
			POINT
		WHERE
			MB_ID = #{mb_id}
			<if test="cri.type == 'use'">
				AND 0 > PI_NO
			</if>
			<if test="cri.type == 'get'">
				AND PI_NO > 0
			</if>
		ORDER BY PI_NUM DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getCountByInquiry" resultType="int">
		SELECT COUNT(*)
		FROM
			INQUIRY
		<if test="cri.type == 'mine'">
		WHERE
			MB_ID = #{mb_id}
		</if>
	</select>
	<select id="selectInquiryList" resultType="InquiryVO">
		SELECT *
		FROM
			INQUIRY
		WHERE
			IQ_TITLE LIKE CONCAT('%', #{cri.search}, '%')
			<if test="cri.type == 'mine'">
				AND MB_ID = #{mb_id}
			</if>
		ORDER BY IQ_NUM DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
</mapper>