<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}" layout:fragment="content">
<head>
<link href="/css/header.css" rel='stylesheet'>
<meta charset="UTF-8">
<title>이벤트 추가</title>
<style type="text/css">
.board--content{
position: relative;
width: 60%;
background-color: #fff;
margin-top: 80px;
}

.board{
position: relative;
background-color: #fff;
}

.title{
font-size: 30px;
padding-top: 20px;
}
.board-title, .board-content{
margin-bottom: 5px;
width: 90%;
}
</style>
</head>
<body>
	<main>
		<div class="container">
		<div class="board--content">
			<div class="board">
				<h2 class="title">이벤트 등록</h2>
				<div>
					제목
					<input type="text" class="board-title">
				</div>
				<div>
					내용
					<input type="text" class="board-content">
				</div>
				<div>
					
				</div>
			</div>
		</div>
		</div>
	</main>
</body>
</html>