<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈Q : 로그인</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
	<main layout:fragment="content">
		<div class="login-wrapper">
			<div class="title-box">
				<a href="/" class="logo-text">퀴즈Q</a>
			</div>
			<form method="post" action="/member/login">
				<div class="form-group">
					<label for="id"><b>아이디</b></label>
					<input type="text" class="form-control" id="id" name="username" placeholder="아이디">
				</div>
				<div class="form-group">
					<label for="pw"><b>비밀번호</b></label>
					<input type="password" class="form-control" id="pw" name="password" placeholder="비밀번호">
				</div>
				<div th:if="${param.error}">
				    <p class="error-text" th:text="${param.msg}"></p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-outline-info col-12">로그인</button>
				</div>
			</form>
			<hr>
			<div class="row">
				<div class="col text-center">
					<a href="#">아이디 찾기</a>
				</div>
				<div class="col text-center">
					<a href="#">비밀번호 찾기</a>
				</div>
				<div class="col text-center">
					<a href="/member/signup">회원가입</a>
				</div>
			</div>
			<div class="button-box row">
				<div class="col">
					<a href="/oauth2/authorization/kakao">
			        	<img th:src="@{/img/kakao_login_medium_narrow.png}" alt="카카오 로그인 버튼">
			    	</a>
				</div>
			</div>
		</div>
	</main>
</body>
</html>