<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈Q : 로그인</title>
<style type="text/css">
.login-wrapper{width: 600px; margin: auto;padding: 0 20px;margin-bottom: 20px;margin-top: 220px;}
.title-box{margin-bottom: 20px;}
.logo-text{font-size: 35px;}
</style>
</head>
<body>
	<main layout:fragment="content">
		<div class="login-wrapper">
			<div class="title-box">
				<a href="/" class="logo-text">퀴즈Q</a>
			</div>
			<form method="post" action="/member/login">
				<div class="form-group">
					<label for="pw"><b>아이디</b></label>
					<input type="text" class="form-control" id="id" name="mb_id" placeholder="아이디">
				</div>
				<div class="form-group">
					<label for="pw"><b>비밀번호</b></label>
					<input type="password" class="form-control" id="pw" name="mb_pw" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-outline-info col-12">로그인</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>