<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈Q : 회원가입</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
</head>
<body>
	<main layout:fragment="content">
		<div class="join-wrapper">
			<div class="title-box">
				<a href="/" class="logo-text">퀴즈Q</a>
				<p>가입을 통해 다양한 서비스를 경험하세요!!</p>
			</div>
			<form method="post" id="form" action="/member/signup">
				<div class="form-group">
					<label for="id"><b>아아디</b></label>
					<span class="error-message text-danger" id="error-id"></span>
					<div class="input-group">
						<input type="text" class="form-control" id="id" name="mb_id" placeholder="아이디 입력 (6~20)자">
						<div class="input-group-append">
							<button type="button" class="btn btn-outline-info" onclick="checkId()">중복검사</button>
						</div>
					</div>
				</div>
				<input type="hidden" id="id-check" value="n">
				<div class="form-group">
					<label for="pw"><b>비밀번호</b></label>
					<span class="error-message text-danger" id="error-pw"></span>
					<input type="password" class="form-control" id="pw" name="mb_pw" placeholder="비밀번호 입력 (영문, 숫자, 특수문자 포함 6~20)자">
				</div>
				<div class="form-group">
					<label for="pw2"><b>비밀번호 재확인</b></label>
					<span class="error-message text-danger" id="error-pw2"></span>
					<input type="password" class="form-control" id="pw2" name="mb_pw2" placeholder="비밀번호 재입력">
				</div>
				<div class="form-group">
					<label for="name"><b>이름</b></label>
					<span class="error-message text-danger" id="error-name"></span>
					<input type="text" class="form-control" id="name" name="mb_name" placeholder="이름 입력">
				</div>
				<div class="form-group">
					<label for="nick"><b>닉네임</b></label>
					<span class="error-message text-danger" id="error-nick"></span>
					<input type="text" class="form-control" id="nick" name="mb_nick" placeholder="닉네임 입력">
				</div>
				<div class="form-group">
					<label for="hp"><b>전화번호</b></label>
					<span class="error-message text-danger" id="error-hp"></span>
					<input type="text" class="form-control" id="hp" name="mb_hp" oninput="autoHyphen(this)" placeholder="휴대폰 번호 입력 ('-'제외 11자리)">
				</div>
				<div class="form-group">
					<label for="email"><b>이메일</b></label>
					<div class="input-group">
						<input type="text" class="form-control" id="email-input" placeholder="이메일 입력">
						<span class="email-text">@</span>
				    	<input type="text" class="form-control mr-2" id="email-domain" placeholder="직접 입력">
					    <select class="form-select" id="domain-list">
							<option value="">직접 입력</option>
							<option value="naver.com">naver.com</option>
							<option value="google.com">google.com</option>
							<option value="nate.com">nate.com</option>
							<option value="kakao.com">kakao.com</option>
						</select>
					</div>
				</div>
				<input type="hidden" id="email-check" value="n">
				<input type="hidden" id="email" name="mb_email">
				<input type="button" class="btn btn-outline-info col-12" id="email-code" value="이메일 인증">
				<div id="timer"></div>
				<div id="code-input"></div>
				<div class="form-group">
				    <label for="zip_btn"><b>주소</b></label>
				    <br>
				    <input type="text" class="form-control mb-2 zip-num" id="zip" name="mb_zip" maxlength="10" placeholder="우편번호" readonly>
				    <input type="button" class="btn btn-outline-info zip-find" id="zip_btn" onclick="execDaumPostcode()" value="우편번호 찾기">
				    <br>
				    <input type="text" class="form-control mb-2" id="addr" name="mb_addr" maxlength="40" placeholder="기본 주소를 입력" readonly>
				    <input type="text" class="form-control" id="addr2" name="mb_addr2"  maxlength="40" placeholder="상세 주소를 입력">
				</div>
				<div class="form-group">
					<label for="birth"><b>생년월일</b></label>
					<div class="input-group">
						<select class="form-control mr-2" id="birth-year">
							<option value="">년도</option>
						</select>
						<select class="form-control mr-2" id="birth-month">
							<option value="">월</option>
						</select>
						<select class="form-control" id="birth-day">
							<option value="">일</option>
						</select>
					</div>		
				</div>
				<input type="hidden" id="birth" name="mb_birth">
				<input type="hidden" name="where" value="user">
				<button type="submit" class="btn btn-outline-info col-12">회원가입</button>
			</form>
		</div>
		<script type="text/javascript">
			const autoHyphen = (target) => {
			    let hp = target.value.replace(/[^0-9]/g, '');
			    if (hp.length > 11) {
			        hp = hp.substring(0, 11);
			    }
			    target.value = hp
			        .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
			        .replace(/(\-{1,2})$/g, "");
			}; // 전화번호 하이픈 자동 생성
			
			document.getElementById('domain-list').addEventListener('change', function () {
				const domainInput = document.getElementById('email-domain');
				const selectedDomain = this.value;
			
				if (selectedDomain) {
					domainInput.value = selectedDomain;
					domainInput.readOnly = true;
				} else {
					domainInput.value = '';
					domainInput.readOnly = false;
				}
			}); // 이메일 도메인 선택

			$(document).ready(function() {
				const birthYear = $('#birth-year');
				const birthMonth = $('#birth-month');
				const birthDay = $('#birth-day');
			
				let isYear = false;
				let isMonth = false;
			
				const currentYear = new Date().getFullYear();
			
				birthYear.on('focus', function () {
					if (!isYear) {
						isYear = true;
						for (let i = 1940; i <= currentYear; i++) {
							const optionYear = $('<option>').val(i).text(i);
							birthYear.append(optionYear);
						}
					}
				});
			
				birthMonth.on('focus', function () {
					if (!isMonth) {
						isMonth = true;
						for (let i = 1; i <= 12; i++) {
							const optionMonth = $('<option>').val(i).text(i);
							birthMonth.append(optionMonth);
						}
					}
				});
			
				function updateDays() {
					const selectedYear = parseInt(birthYear.val());
					const selectedMonth = parseInt(birthMonth.val());
			
					if (!selectedYear || !selectedMonth) {
						birthDay.html('<option value="">일</option>').prop('disabled', true);
						return;
					}
			
					const daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();
					birthDay.html('<option value="">일</option>');
			
					for (let i = 1; i <= daysInMonth; i++) {
						const dayOption = $('<option>').val(i).text(i);
						birthDay.append(dayOption);
					}
					birthDay.prop('disabled', false);
				}
 				
 				birthDay.prop('disabled', true);
			
				birthYear.on('change', updateDays);
				birthMonth.on('change', updateDays);
			}); // 생년월일 선택
			
			$('#id').change(inputId);
			function inputId() {
				let errId = $('#error-id');
				if(errId.text() != '사용 가능한 아이디입니다.') {
					$('#id-check').val('n');
				}
			} // 사용자가 아이디를 지우고 다시 입력하면 'n'으로 업데이트
			
			function checkId(){
				const mb_id = $('#id').val().trim();
				const errMsg = $('#error-id');
				if(!/^\w{6,20}$/.test(mb_id)){
					return;
				}
				$.ajax({
					async : true, 
					url : '/member/checkId', 
					type : 'get', 
					data : {mb_id : mb_id}, 
					success : function (data){
						if(data) {
							errMsg.text("사용 가능한 아이디입니다.");
							$('#id-check').val('y');
						}else{
							$('#error-id').removeClass('text-success').addClass('text-danger');
							errMsg.text("이미 사용중인 아이디입니다.");
							$('#id-check').val('n');
						}
					}, 
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
					}
				});
			} // 아이디 중복검사
			
			$('#email-code').click(emailRegex);
			function emailRegex(){
				const pattern = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-za-z0-9\-]+/;
				const email = $('#email-input').val();
				const domain = $('#email-domain').val();
				const mb_email = email + '@' + domain;
				if(pattern.test(mb_email) == false) {
					alert('이메일 형식이 일치하지 않습니다.');
					return;
				}else{
					$('#email-input').attr('readonly', true);
					$('#email-domain').attr('readonly', true);
					$('#domain-list').attr('disabled', true);
					getEmailCode(mb_email);
					alert("이메일을 전송하였습니다. 잠시만 기다려주세요.");
					return;
				}
			} // 이메일 정규표현식 확인 및 사용자한테 인증코드 보내기
			
			function getEmailCode(mb_email){			
				$.ajax({
					async : true,
					url : '/mail/setCode',
					type : 'post',
					data : {mb_email : mb_email},
					success: function(data){
						if(data == true) {
							displayInputCode();
				            $('#email-code').attr("disabled", true);
				            $('#email-code').removeClass('btn-outline-info').addClass('btn-outline-dark');
				            $('#email-code').css("background-color", "#d3d3d3");
				            startTimer(300, mb_email);
						}
					},
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
						alert("이메일 전송 실패\n문제가 계속된다면 관리자한테 문의하세요.");
						$('#email-input').attr('readonly', false);
						$('#email-domain').attr('readonly', false);
						$('#domain-list').attr('disabled', false);
					}
				});	
			} // 이메일 인증 코드 보내는 Ajax
			
			function displayInputCode(){
				str = `
					<div class="input-group">
						<input type="text" class="form-control" id="code"  placeholder="인증번호">
						<div class="input-group-append">
							<input type="button" class="btn btn-outline-info" id="code-check" value="이메일 코드 확인" >
						</div>
					</div>
				`;
				$('#code-input').html(str);
			} // 이메일 인증 코드 입력 및 확인 버튼 
			
			$(document).on('click', '#code-check', checkEmailCode); // 동적으로 추가된 요소이기 때문에 이벤트 리스너 사용
			function checkEmailCode() {
				const email = $('#email-input').val();
				const domain = $('#email-domain').val();
				const mb_email = email + '@' + domain;
				const code = $('#code').val();
				$.ajax({
					async : true,
					url : '/mail/getCode',
					type : 'post',
					data : 
					{
						mb_email : mb_email,
						code : code
					},
					success: function(data){
						if(data == true) {
							$('#code').attr("readonly", true);
			                $('#code-check').remove();
			                $('#email-check').val('y');
			                alert('이메일 인증 성공!!');
			                clearInterval(timerInterval);
			                delEmailCode(mb_email);
						}else{
							alert('잘못된 코드입니다. 다시 확인해주세요.');
						}
					},
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
						alert("이메일 인증 실패\n문제가 계속된다면 관리자한테 문의하세요.");
					}
				});
			} // 사용자가 입력한 코드가 DB에 있는 코드와 같은지 확인
			
			function delEmailCode(mb_email) {
				$.ajax({
					async : true,
					url : '/mail/delCode',
					type : 'post',
					data : {mb_email : mb_email},
					success: function(data){
						console.log(data);	
					},
					error : function(jqXHR, textStatus, errorThrown){
						console.log(jqXHR);
					}
				});
			} // 처리가 끝난 인증 코드 삭제
			
			var timerInterval;
			
			function startTimer(duration, mb_email){
				let timer = duration, minutes, seconds;
				timerInterval = setInterval(function(){
					minutes = parseInt(timer / 60, 10);
			        seconds = parseInt(timer % 60, 10);

			        minutes = minutes < 10 ? "0" + minutes : minutes;
			        seconds = seconds < 10 ? "0" + seconds : seconds;

			        $('#timer').text("이메일 전송 완료! 인증 가능 시간 " + minutes + ":" + seconds);
			        
			        if(--timer < 0) {
			        	clearInterval(timerInterval);
			        	$('#timer').text('인증 시간이 만료되었습니다.');
			        	console.log(mb_email);
			        	delEmailCode(mb_email);
			        	alert("이메일 인증 시간이 만료되었습니다. 다시 시도해 주세요.");
			        	// 버튼 활성화
			        	$('#email-code').attr("disabled", false);
			            $('#email-code').removeClass('btn-outline-dark').addClass('btn-outline-info');
			            $('#email-code').removeAttr('style');
			        	// 이메일 입력창 활성화
			            $('#email-input').attr('readonly', false);
						$('#email-domain').attr('readonly', false);
						$('#domain-list').attr('disabled', false);
						// 인증 코드 필드 제거
						$('#code').remove();
						$('#code-check').remove();
			        }
				}, 1000);
			} // 인증 코드 제한 시간
		</script>
		
		<script type="text/javascript">
			$('#form').validate({
				rules : {
					mb_id : {
						required : true,
						regex : /^\w{6,20}$/
					},
					mb_pw : {
						required : true,
						regex : /^[a-zA-Z0-9!@#$]{6,20}$/
					},
					mb_pw2 : {
						equalTo : pw
					},
					mb_name : {
						required : true
					},
					mb_nick : {
						required : true
					},
					mb_hp : {
						required : true,
						regex: /^010-\d{4}-\d{4}$/
					}
				},
				messages : {
					mb_id : {
						required : '필수 항목입니다.',
						regex : '영어, 숫자만 가능하며, 6~20자이어야 합니다.'
					},
					mb_pw : {
						required : '필수 항목입니다.',
						regex : '영어, 숫자, 특수문자(!@#$)만 가능하며, 6~20자이어야 합니다.'
					},
					mb_pw2 : {
						equalTo : '비번과 일치하지 않습니다.'
					},
					mb_name : {
						required : '필수 항목입니다.'
					},
					mb_nick : {
						required : ' 필수 항목입니다.'
					},
					mb_hp : {
						required : '필수 항목입니다.',
						regex: '010-XXXX-XXXX 형식으로 입력해주세요.'
					}
				},
			    errorPlacement: function (error, element) {
			        var errorId = 'error-' + $(element).attr('id');
			        $('#' + errorId).html(error).removeClass("text-success").addClass("text-danger");
			    },
			    success: function (label, element) {
			        var errorId = 'error-' + $(element).attr('id');
			        $('#' + errorId).html('').removeClass("text-danger").addClass("text-success");
			    },
				submitHandler : function(form){
					let id2 = $('#id-check').val();
					let email2 = $('#email-check').val();
					if(id2 != 'y') {
						alert('아이디 중복검사를 진행해 주세요.');
						$('#id').focus();
						return false;
					}
					if(email2 != 'y') {
						alert("이메일 인증을 진해해 주세요.");
						$('#email-input').focus();
						return false;
					}
					// 이메일
					const email = $('#email-input').val();
					const domain = $('#email-domain').val();
					const mb_email = email + '@' + domain;
					
					// 생년월일
					const birthYear = $('#birth-year').val();
					const birthMonth = $('#birth-month').val().padStart(2, '0');
					const birthDay = $('#birth-day').val().padStart(2, '0');
					const mb_birth = birthYear + '-' + birthMonth + '-' + birthDay;
					
					// 히든 요소의 value값에 가공된 변수들 넣어주기
					$('#email').val(mb_email);
					$('#birth').val(mb_birth);
					form.submit();
				}
			});
			$.validator.addMethod('regex', function(value, element, regex){
				var re = new RegExp(regex);
				return this.optional(element) || re.test(value);
			}, "정규표현식을 확인하세요.");
		</script>
		      		
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	    <script>
		    function execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업을 통한 검색 결과 항목 클릭 시 실행
		                var addr = ''; // 주소_결과값이 없을 경우 공백 
		                var extraAddr = ''; // 참고항목
		
		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 도로명 주소를 선택
		                    addr = data.roadAddress;
		                } else { // 지번 주소를 선택
		                    addr = data.jibunAddress;
		                }
		
		                if(data.userSelectedType === 'R'){
		                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                        extraAddr += data.bname;
		                    }
		                    if(data.buildingName !== '' && data.apartment === 'Y'){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    if(extraAddr !== ''){
		                        extraAddr = ' (' + extraAddr + ')';
		                    }
		                } else {
		                    document.getElementById("addr").value = '';
		                }
		
		                // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
		                document.getElementById('zip').value = data.zonecode;
		                document.getElementById("addr").value = addr;
		                document.getElementById("addr").value += extraAddr;
		                document.getElementById("addr2").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동
		            }
		        }).open();
		    }
		</script>
	</main>
</body>
</html>