<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈 게임 : 관리자</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/adminMemberList.css}">
</head>
<body>
	<main layout:fragment="content">
		<div th:replace="~{layout/adminSidebar.html}"></div>
		<div class="flash-message" id="flash-message" th:if="${msg}" th:classappend="${msg.contains('성공') ? '' : 'error'}" >
	    	<span th:text="${msg}"></span>
		</div>
		<div class="member-wrapper">
	    	<h1 class="heading">회원 목록</h1>
    		<div class="d-flex">
		    	<form class="mr-auto form-container" action="/admin/member/list" method="get">
					<div class="input-group mb-3">
						<select class="form-control col-sm-1" name="type">
							<option value="all">전체</option>
							<option value="id">아이디</option>
							<option value="nick">닉네임</option>
							<option value="name">이름</option>
						</select>
						<input type="text" class="form-control col-sm-2" placeholder="검색어" name="search" th:value="${pm.cri.search}">
						<div class="input-group-append">
							<button type="submit" class="btn btn-outline-info col-12">검색</button>
						</div>
					</div>
				</form>
	    		<div class="list-group-item">
		    		<a th:href="@{/admin/member/insert}">
		    			<button type="button" class="btn btn-outline-info">등록</button>
		    		</a>
				</div>
    		</div>
			<div>
				<div class="member-box">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="th-item">아이디</th>
								<th class="th-item">이름</th>
								<th class="th-item">닉네임</th>
								<th class="th-item">전화번호</th>
								<th class="th-item">레벨</th>
								<th class="th-item">가입일</th>
								<th class="th-item">수정일</th>
								<th class="th-item">정지일</th>
								<th class="th-item">관리</th>
							</tr>
						</thead>
						<tbody>
							 <tr th:each="list:${list}">
				                <td class="truncate" data-toggle="tooltip" th:title="${list.mb_id}" th:text="${list.mb_id}"></td>
				                <td class="truncate" data-toggle="tooltip" th:title="${list.mb_name}" th:text="${list.mb_name}"></td>
				                <td class="truncate" data-toggle="tooltip" th:title="${list.mb_nick}" th:text="${list.mb_nick}"></td>
				                <td th:text="${list.mb_hp}"></td>
				                <td th:text="${list.mb_level}"></td>
				                <td th:text="${#dates.format(list.mb_datetime,'yyyy-MM-dd')}"></td>
				                <td th:text="${#dates.format(list.mb_edit_date,'yyyy-MM-dd')}"></td>
				                <td th:text="${#dates.format(list.mb_out_date,'yyyy-MM-dd')}"></td>
				                <td class="btn-td">
				                	<div class="btn-group">
					                	<a href="#" class="button btn-primary">수정</a>
					                	<form action="#" method="post">
					                		<button class="button btn-danger" type="submit">정지</button>
					                	</form>
				                	</div>
				                </td>
				            </tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="page_div">
				<ul class="pagination justify-content-center center" 
					th:object="${pm}" 
					th:if="${pm.endPage != 0}">
				    <li class="page-item" th:if="*{prev}">
				    	<a class="page-link" th:href="@{/admin/member/list(page=*{startPage-1}, type=*{cri.type}, search=*{cri.search}))}">이전</a>
				    </li>
				    <li class="page-item" 
				    	th:each="i : *{#numbers.sequence(startPage, endPage)}"
				    	th:classappend="*{cri.page} == ${i} ? 'active' : ''">
				    	<a class="page-link" th:href="@{/admin/member/list(page=${i}, type=*{cri.type}, search=*{cri.search})}" th:text="${i}"></a>
				    </li>
				    <li class="page-item" th:if="*{next}">
				    	<a class="page-link" th:href="@{/admin/member/list(page=*{endPage+1}, type=*{cri.type}, search=*{cri.search})}">다음</a>
				    </li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
			
			$(document).ready(function () {
			    setTimeout(function () {
			        var flashMessage = $("#flash-message");
			        if(flashMessage.length) {
			            flashMessage.fadeOut(500);
			        }
			    }, 5000);
			});
		</script>
   </main>
</body>
</html>