<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈 게임 : 관리자</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/adminQuizDetail.css}">
</head>
<body>
	<main layout:fragment="content">
		<div th:replace="~{layout/adminSidebar.html}"></div>
		<div class="flash-message" id="flash-message" th:if="${msg}" th:classappend="${msg.contains('성공') ? '' : 'error'}" >
	    	<span th:text="${msg}"></span>
		</div>
		<div class="quiz-wrapper">
	    	<h1 class="heading">회원 목록</h1>
	    	<form action="/admin/member/list" method="get">
			<div class="input-group mb-3">
				<select class="form-control col-sm-1" name="type">
					<option value="all">전체</option>
					<option value="id">아이디</option>
					<option value="nick">닉네임</option>
					<option value="name">이름</option>
				</select>
				<input type="text" class="form-control col-sm-2" placeholder="검색어" name="search" th:value="${pm.cri.search}">
				<div class="input-group-append">
					<button type="submit" class="btn btn-outline-info col-12">검색</button>
				</div>
			</div>
		</form>
			<div>
				<div class="quiz-box">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>아이디</th>
								<th>이름</th>
								<th>닉네임</th>
								<th>전화번호</th>
								<th>레벨</th>
								<th>가입일</th>
								<th>수정일</th>
								<th>정지일</th>
								<th>관리</th>
							</tr>
						</thead>
						<tbody>
							 <tr th:each="list:${list}">
				                <td class="truncate" th:text="${list.mb_id}"></td>
				                <td class="truncate" th:text="${list.mb_name}"></td>
				                <td class="truncate" th:text="${list.mb_nick}"></td>
				                <td class="truncate" th:text="${list.mb_hp}"></td>
				                <td class="truncate" th:text="${list.mb_level}"></td>
				                <td class="truncate" th:text="${list.mb_datetime}"></td>
				                <td class="truncate" th:text="${list.mb_edit_date}"></td>
				                <td class="truncate" th:text="${list.mb_out_date}"></td>
				                <td class="btn-td">
				                	<div class="btn-group">
					                	<a href="#" class="button btn-primary">수정</a>
					                	<form action="#" method="post">
					                		<button class="button btn-danger" type="submit">삭제</button>
					                	</form>
				                	</div>
				                </td>
				            </tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="page_div">
				<ul class="pagination justify-content-center center" 
					th:object="${pm}" 
					th:if="${pm.endPage != 0}">
				    <li class="page-item" th:if="*{prev}">
				    	<a class="page-link" th:href="@{/admin/member/list(page=*{startPage-1})}">이전</a>
				    </li>
				    <li class="page-item" 
				    	th:each="i : *{#numbers.sequence(startPage, endPage)}"
				    	th:classappend="*{cri.page} == ${i} ? 'active' : ''">
				    	<a class="page-link" th:href="@{/admin/member/list(page=${i})}" th:text="${i}"></a>
				    </li>
				    <li class="page-item" th:if="*{next}">
				    	<a class="page-link" th:href="@{/admin/member/list(page=*{endPage+1})}">다음</a>
				    </li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
			
			$(document).ready(function () {
			    setTimeout(function () {
			        var flashMessage = $("#flash-message");
			        if(flashMessage.length) {
			            flashMessage.fadeOut(500);
			        }
			    }, 5000);
			});
		</script>
   </main>
</body>
</html>