<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>퀴즈 게임 : 관리자</title>
<style type="text/css">
.quiz-wrapper{width: 50%;padding: 20px;margin-left: 550px;}
.title-box{text-align: center;}
.main-title{font-size: 2em;font-weight: bold;}
.sub-title{font-size: 1.5em;font-weight: bold;}
</style>
</head>
<body>
<main layout:fragment="content">
	<div th:replace="~{layout/adminSidebar.html}"></div>
	<div class="quiz-wrapper">
		<div class="title-box">
		 	<span class="main-title" th:text="${qt_name + ' : '}"></span>
		 	<span class="sub-title" th:text="${type=='choice' ? '객관식 퀴즈' : '주관식 퀴즈'}"></span>
	 	</div>
	 	<div class="mt-3" th:if="${type == 'choice'}">
			<form th:action="@{/admin/quiz/insert/{qt_num}(qt_num=${qt_num})}" method="post">
				<div class="form-group">
					<label for="qu_content">문제</label>
					<input type="text" class="form-control" id="qu_content" name="qu_content">
				</div>
				<div class="form-group">
					<label for="qu_answer1">보기1</label>
					<input type="text" class="form-control" id="qu_answer1" name="qu_answer1">
				</div>
				<div class="form-group">
					<label for="qu_answer2">보기2</label>
					<input type="text" class="form-control" id="qu_answer2" name="qu_answer2">
				</div>
				<div class="form-group">
					<label for="qu_answer3">보기3</label>
					<input type="text" class="form-control" id="qu_answer3" name="qu_answer3">
				</div>
				<div class="form-group">
					<label for="qu_answer4">보기4</label>
					<input type="text" class="form-control" id="qu_answer4" name="qu_answer4">
				</div>
				<div class="form-group">
					<label for="qu_correct_answer">정답</label>
					<select class="form-control col-sm-2" id="qu_correct_answer" name="qu_correct_answer">
		                <option value="1">보기 1</option>
		                <option value="2">보기 2</option>
		                <option value="3">보기 3</option>
		                <option value="4">보기 4</option>
		            </select>
				</div>
				<input type="hidden" th:value="${qt_num}">
				<button type="submit" class="btn btn-outline-info col-12">등록</button>
			</form>
	 	</div>
	</div>
</main>
</body>
</html>